.Form {
  // TODO: polish responsive layout
  .FormInputs {
    display: flex;
    flex-wrap: wrap;

    & > * {
      width: auto;
      min-width: 200px;
      flex-grow: 1;
      flex-basis: 0;
      flex-shrink: 1;
      margin-bottom: 1.5rem;
    }

    & > *:not(:last-child) {
      margin-right: 1rem;
    }

    .FormInputsCustom {
      & > *:first-child {
        margin-bottom: 1rem;
      }
    }
  }
}
