@mixin table-label {
  font-size: 0.875rem;
  line-height: 1.125rem;
  color: var(--color-note);
  font-weight: var(--font-weight-medium);
  text-transform: uppercase;
}

.TradeData {
  padding-top: 3rem;

  .TradeDataHeader {
    padding-bottom: 3rem;
  }

  .SearchInfo {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    & > * {
      margin-top: 1rem;
    }

    .SearchInfoAssets {
      margin-right: 2rem;
    }

    .SearchInfoPeriod {
      display: flex;
      align-items: flex-end;

      svg {
        width: 1.4rem;
        height: 1.4rem;
        fill: inherit;
        margin-right: 0.6rem;
      }
    }
  }

  .TradeDataTable {
    width: 100%;
    border-collapse: collapse;
    font-size: 1rem;
    line-height: 1.5rem;
    color: var(--color-text);

    th {
      @include table-label;
      text-align: left;
      padding-bottom: 1.0625rem;
    }

    thead,
    tr:not(:last-child) {
      border-bottom: 1px solid var(--color-border-main);
    }

    th,
    td {
      padding-left: 1.5rem;
      padding-right: 1.5rem;
      vertical-align: top;
    }

    th:first-child,
    td:first-child {
      padding-left: 0;
    }

    th:last-child,
    td:last-child {
      padding-right: 0;
    }

    td {
      padding-top: 1.5rem;
      padding-bottom: 1.5rem;
    }

    @media (max-width: 950px) {
      display: block;

      thead {
        display: none;
      }

      tbody,
      tr,
      td {
        display: block;
        width: 100%;
      }

      td {
        display: flex;
        justify-content: space-between;
        text-align: right;
        padding: 0.5rem 0;

        &:first-child {
          padding-top: 1rem;
        }

        &:last-child {
          padding-bottom: 1rem;
        }

        &::before {
          @include table-label;
          display: block;
          content: (attr(data-label));
        }
      }
    }
  }
}
